<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://www.springframework.org/schema/aop
                        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
"
>

    <!-- 开启SpringMVC注解模式 -->
    <mvc:annotation-driven/>
    <!-- 静态资源默认servlet配置 -->
    <mvc:default-servlet-handler/>

    <!-- 自动扫描  @Controller-->
    <context:component-scan base-package="com.BBS"/>
    <!-- 引入同文件夹下的redis属性配置文件 -->
    <import resource="spring-redis.xml"/>
    <import resource="spring-shiro.xml"/>
    <!-- 定义跳转的文件的前后缀 ，视图模式配置 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--配置拦截器，指定要拦截的资源-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.BBS.Filter.EncodingInterceptor"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <!--path 指定要拦截的资源地址 **表示当前路径及子路径-->
            <mvc:mapping path="/city/getcityname"/>
            <!--表示全拦截-->
            <!--<mvc:mapping path="/**"/>-->

            <mvc:exclude-mapping path="/**"/>
            <bean class="com.BBS.Filter.AuthInterceptor">
                <!--表示不拦截的资源-->
                <property name="excludeUrls">
                    <list>

                    </list>
                </property>
                <!--表示拦截的资源-->
                <property name="noPassUrls">
                    <list>

                    </list>
                </property>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>


    <!--配置文件上传解析器，File类型等文件 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="100000000"/>
        <property name="maxInMemorySize" value="10240000"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>
    <!--导入资源文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!--配置 c3p0 数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${username}"/>
        <property name="password" value="${password}"/>
        <property name="jdbcUrl" value="${jdbcUrl}"/>
        <property name="driverClass" value="${driverClass}"/>

        <property name="initialPoolSize" value="${initialSize}"/>
        <property name="maxPoolSize" value="${maxActive}"/>
    </bean>

    <!--配置 JdbcTemplate -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>


    <mvc:resources mapping="/images/**" location="resource/"/>



    <bean id="logcontrolerAspect" class="com.BBS.utils.LogAspect"/>

    <aop:config>
    <aop:aspect id="logcontrolerExecute" ref="logcontrolerAspect">
    <aop:pointcut expression="execution(* com.BBS.controller.*.*(..))" id="logcontrolerPointcut"/>
    <aop:around pointcut-ref="logcontrolerPointcut" method="doAround"/>
    </aop:aspect>
    </aop:config>

    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!--<bean class="com.BBS.utils.LogAspect" />-->

</beans>
