<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	<!-- 文件加密 -->
	
	<bean id="propertyConfigurer" class="cn.edu.nuc.Spring_jdbc.config.EncryptablePreferencesPlaceholderConfigurer">
	    <constructor-arg ref="configurationEncryptor" />
	    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
	    <property name="ignoreResourceNotFound" value="true" />
	    <property name="locations">
	        <list>
	            <value>classpath:/jdbc.properties</value>
	            <value>classpath:jdbc.properties</value>
	        </list>
	    </property>
	</bean>
	<bean id="configurationEncryptor" class="org.jasypt.encryption.pbe.StandardPBEStringEncryptor">
	    <property name="config" ref="environmentVariablesConfiguration" />
	</bean>
	
	<bean id="environmentVariablesConfiguration" class="org.jasypt.encryption.pbe.config.EnvironmentStringPBEConfig">
	    <property name="algorithm" value="PBEWithMD5AndDES" />
	    <property name="password" value="kl" />
	</bean>
	<!-- 数据库连接 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${mysql.driver}"></property>
		<property name="jdbcUrl" value="${mysql.jdbc.url}"></property>
		<property name="user" value="${mysql.user}"></property>
		<property name="password" value="${mysql.pass}"></property>
	</bean>
	<!-- 容器自动扫描 -->
	<context:component-scan base-package="cn.edu.nuc.Spring_jdbc"></context:component-scan>
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"> </property>
	</bean>
	<!-- XML配置自动事物管理 -->
	 <!-- <tx:advice id="transactionAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="tr*" propagation="REQUIRED" timeout="5"   rollback-for="Exception.class"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="*ServiceImpl" propagation="REQUIRED"/>
			
			<tx:method name="*" propagation="SUPPORTS"/>
		</tx:attributes>
	</tx:advice> 
	 <aop:config>
		<aop:pointcut expression="execution(* cn.edu.nuc.Spring_jdbc.service..*.*(..))" id="pointcut"/>
		<aop:advisor advice-ref="transactionAdvice" pointcut-ref="pointcut"/>
	</aop:config> -->
	
	
	
	<!-- 扫描自动配置事物管理 -->
		<!-- 注解事务 -->
		<tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
		<!-- 开启Annotation -->
		<context:annotation-config></context:annotation-config>
		
</beans>
