<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youmeek.ssm.mapper.SpcolumnMapper">
    <resultMap id="BaseResultMap" type="com.youmeek.ssm.pojo.Spcolumn">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="spcolumn_en" property="spcolumnEn" jdbcType="VARCHAR"/>
        <result column="spcolumn_cn" property="spcolumnCn" jdbcType="VARCHAR"/>
        <collection property="childcolList" ofType="com.youmeek.ssm.pojo.Childcol">
            <id column="ch_id" property="chId" jdbcType="INTEGER" />
            <result column="childcol_en" property="childcolEn" jdbcType="VARCHAR" />
            <result column="childcol_cn" property="childcolCn" jdbcType="VARCHAR" />
            <result column="spcolumn_id" property="spcolumnId" jdbcType="INTEGER" />
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        sp.id, sp.spcolumn_en, sp.spcolumn_cn
    </sql>

    <sql id="Child_List">
        c.ch_id, c.childcol_en, c.childcol_cn ,c.spcolumn_id
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from spcolumn sp
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="getAllSpCol" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>,
        <include refid="Child_List" />
        from spcolumn sp
        LEFT JOIN childcol c ON sp.id = c.spcolumn_id
        WHERE 1 = 1
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from spcolumn
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.youmeek.ssm.pojo.Spcolumn">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into spcolumn (id, spcolumn_en, spcolumn_cn
        )
        values (#{id,jdbcType=INTEGER}, #{spcolumnEn,jdbcType=VARCHAR}, #{spcolumnCn,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.youmeek.ssm.pojo.Spcolumn">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into spcolumn
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="spcolumnEn != null">
                spcolumn_en,
            </if>
            <if test="spcolumnCn != null">
                spcolumn_cn,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="spcolumnEn != null">
                #{spcolumnEn,jdbcType=VARCHAR},
            </if>
            <if test="spcolumnCn != null">
                #{spcolumnCn,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.youmeek.ssm.pojo.Spcolumn">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update spcolumn
        <set>
            <if test="spcolumnEn != null">
                spcolumn_en = #{spcolumnEn,jdbcType=VARCHAR},
            </if>
            <if test="spcolumnCn != null">
                spcolumn_cn = #{spcolumnCn,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.youmeek.ssm.pojo.Spcolumn">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        update spcolumn
        set spcolumn_en = #{spcolumnEn,jdbcType=VARCHAR},
        spcolumn_cn = #{spcolumnCn,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>