<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nuc.Store.entity.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.nuc.Store.model.User" >
    <id column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
    <result column="UserPass" property="userpass" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    UserId, UserName, UserPass
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user
    where UserId = #{userid,jdbcType=INTEGER}
  </select>
  <select id="selectpassword" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where UserName = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where UserId = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insertUser" parameterType="cn.edu.nuc.Store.model.User">
    insert into user (UserName, UserPass)
    values ( #{username,jdbcType=VARCHAR}, #{userpass,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.nuc.Store.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        UserId,
      </if>
      <if test="username != null" >
        UserName,
      </if>
      <if test="userpass != null" >
        UserPass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpass != null" >
        #{userpass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.nuc.Store.model.User" >
    update user
    <set >
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpass != null" >
        UserPass = #{userpass,jdbcType=VARCHAR},
      </if>
    </set>
    where UserId = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.nuc.Store.model.User" >
    update user
    set UserName = #{username,jdbcType=VARCHAR},
      UserPass = #{userpass,jdbcType=VARCHAR}
    where UserId = #{userid,jdbcType=INTEGER}
  </update>
</mapper>