<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	">
	<!-- 引入属性文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<!-- <value>classpath:config.properties</value> 可放 多个-->
			</list>
		</property>
	</bean>
	
	<!-- 自动扫描(自动注入) -->
	<context:component-scan base-package="com.wuzy.*.service"/>
	
	<import resource="spring-mybatis.xml"/>
	<import resource="spring-shiro.xml"/>
	<!-- 定时任务，运行去掉
	<import resource="spring-cache.xml"/>
	<import resource="spring-timer.xml"/>
	 -->
</beans>
