<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.BBS.dao.CityDao">
    <!-- 目的：为dao接口方法提供sql语句配置 -->

    <!-- 如果输入参数的类型是简单类型，#{}的占位符输入参数可以任意 ，输出结果集返回的类型是返回java对象，例如pojo,javabean类接收-->
    <select id="queryById"  parameterType="java.lang.Integer" resultType="com.BBS.pojo.City" >
        <!-- 具体的sql -->
        SELECT
        Name
        FROM
        city
        WHERE
        id = #{id}
    </select>

    <!-- 插入数据，是插入的数据类型，是pojo或javabean对象，这些对象存储了属性值-->
    <insert id="insertByUser" parameterType="com.BBS.pojo.City">
        INSERT  INTO  city (NAME ,CountryCode,DIStrict,population)VALUE (#{NAME},#{CountryCode},#{DIStrict},#{population})
    </insert>

    <!-- 删除数据，根据用户的id来删除用户信息。这里指的主键值-->
    <delete id="deleteByid"  parameterType="java.lang.Integer">
        DELETE  FROM  USER  WHERE  id = #{id}
    </delete>

<!-- 传入的参数是用户，但是里面必须包含用户对象的ID或者主键值，要不然的话就会更新所有表中的所有数据-->
    <update id="updateById" parameterType="com.BBS.pojo.City">
        UPDATE  city  SET name =#{NAME } WHERE  id =#{id}
    </update>



</mapper>
